* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  font-family: '#9Slide03 Source Sans Pro SemiB';
  overflow: hidden;
}

.header-background {
  position: absolute;
  top: -6px;
  left: -18px;
  right: -22px;
  z-index: -1;
}

.header-background img {
  width: 100%;
}
.header-right {
  box-sizing: content-box;
  padding: 40px;
}

.header-right a {
  border: 2px solid #fff;
  padding: 3px 20px;
  color: #fff;
  float: right;
}

.header-right a::after {
  content: '';
  clear: both;
}

.main-background {
  position: absolute;
  top: -70px;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}
.main-background img {
  width: 100%;
}

.main-content {
  display: flex;
  min-height: 100vh;
}

.main-content form {
  display: flex;
  flex-direction: column;
  min-width: 35%;
  margin: auto;
  padding: 40px 60px;
  background-color: rgba(112, 48, 160, 0.8);
  border: 2px solid rgba(237, 125, 49, 0.8);
  border-radius: 100px;
}

.main-content form a,
.main-content form input {
  margin: 35px auto;
  line-height: 60px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(255, 255, 255, 0.8);
  width: 80%;
  color: rgba(112, 48, 160, 0.7);
}

.main-content form input {
  font-size: 1.5em;

  padding-left: 20px;
}
.main-content form input::placeholder {
  color: rgba(112, 48, 160, 0.7);
  /* font-size: 1.5em; */
}
.main-content form input[type='submit'] {
  width: 40%;
  margin: 30px auto;
  text-align: center;
  color: #fff;
  background-color: rgba(237, 125, 49, 0.8);
  line-height: 40px;
  font-size: 1.5em;
  text-transform: uppercase;
}

.main-content form input[type='submit']:hover {
  background-color: rgba(237, 125, 49, 0.6);
}
