* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  font-family: '#9Slide03 Source Sans Pro SemiB';
  overflow: hidden;
}

.header-background {
  position: absolute;
  top: -6px;
  left: -18px;
  right: -22px;
  z-index: -1;
}

.header-background img {
  width: 100%;
}
.header-right {
  box-sizing: content-box;
  padding: 40px 20px;
  display: flex;
  justify-content: flex-end;
}

.header-right a {
  border: 2px solid #fff;
  padding: 3px 20px;
  color: #fff;
  display: block;
  margin: 0 5px;
}

.header-right a::after {
  content: '';
  clear: both;
}

.main-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;

  z-index: -2;
}

main {
  position: relative;
}
.main-background img {
  height: 100%;
}

nav {
  /* background-color: red; */
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
}

nav a {
  display: inline-block;
  background-color: rgba(112, 48, 160, 0.8);
  border: 1px solid rgba(237, 125, 49, 0.8);
  color: white;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 4px;
  transition: all 0.5s ease;
}

nav a:hover {
  background-color: rgba(237, 125, 49, 0.6);
}

nav a.active {
  background-color: rgba(237, 125, 49, 0.8);
}

.main-content {
  display: flex;
  min-height: 100vh;
}

.main-content form {
  display: grid;
  /* flex-direction: column; */
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  min-width: 70%;
  margin: auto;
  padding: 20px 60px;
  background-color: rgba(112, 48, 160, 0.8);
  border: 2px solid rgba(237, 125, 49, 0.8);
  border-radius: 100px;
}

.main-content form a,
.main-content form select,
.main-content form input {
  margin: 15px auto;
  line-height: 50px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(255, 255, 255, 0.8);
  width: 80%;
  color: rgba(112, 48, 160, 0.7);
}

.main-content form select {
  width: 86%;
  /* font-family: '#9Slide03 Source Sans Pro SemiB'; */
  padding-left: 20px;

  font-size: 1.5em;
}

.main-content form input {
  font-size: 1.5em;

  padding-left: 20px;
}
.main-content form input::placeholder {
  color: rgba(112, 48, 160, 0.7);
  /* font-size: 1.5em; */
}
.main-content form input[type='submit'] {
  width: 250px;
  margin: 15px auto;
  text-align: center;
  color: #fff;
  background-color: rgba(237, 125, 49, 0.8);
  line-height: 40px;
  font-size: 1.5em;
  text-transform: uppercase;

  grid-column-start: 1;
  grid-column-end: 4;
}

.main-content form input[type='submit']:hover {
  background-color: rgba(237, 125, 49, 0.6);
}
